.card
    position relative
    size(300px, 368px)
    background white
    border 1px solid #d3d3d3
    border-radius 6px
    box-shadow 0 1px 10px rgba(black, 30%)

.card_special
    size(348px, 400px)
    margin 0 -14px
    z-index 1
    box-shadow inset 0 0 5px #f6f5f1, 0 0 5px #d3d3d3

.card__title
    margin 50px 0
    background #fbfaf8
    line-height 36px
    border-top 1px solid #f0f0ee
    border-bottom 1px solid #f0f0ee
    font-size 25px
    font-weight bold
    uppercase()
    text-align center
    color $base-color

.card__title_special
    margin-top 66px
    color $special-color

.card__price
    display flex
    align-items center
    justify-content center
    max-width 80%
    margin auto
    height 108px
    border-top 1px dashed #dedddc
    border-bottom 1px dashed #dedddc
    font-size 28px
    line-height 1.4
    color $base-color


.card__price_special
    color $special-color

.card__footer
    absolute bottom left right
    height 66px
    line-height 66px
    background-color #fbfaf8
    border-top 1px solid #f0f0ee

.card__footer_special
    height 88px
    line-height 88px

.card__button
    font-size 24px
    font-weight bold

.card__button_special
    size(300px, 70px)
    font-size 28px
    line-height 70px