.contacts__frame
    position relative
    overflow hidden

.contacts__chapter
    padding 40px 0
    width 50%
    float left

.contacts__title
    margin 10px 0
    font-size 36px
    font-weight 400
    uppercase()
    color black
    text-align center

.contacts__text
    padding 30px 0
    overflow hidden

    font-size 14px
    uppercase()
    font-weight bold
    line-height 19px
    color black

.contacts__icon
    float left
    margin-top -4px
    height 40px
    font-size 40px
    color white

.contacts__people
    overflow: hidden