@font-face {
    font-family: 'PF Amateur';
    src: url('../fonts/PFAmateurThin.eot');
    src: url('../fonts/PFAmateurThin.eot') format('embedded-opentype'),
            url('../fonts/PFAmateurThin.woff2') format('woff2'),
            url('../fonts/PFAmateurThin.woff') format('woff'),
            url('../fonts/PFAmateurThin.ttf') format('truetype'),
            url('../fonts/PFAmateurThin.svg#PFAmateurThin') format('svg');
}