@import "axis"
@import "variables.styl"
@import "fonts.styl"

global-reset()

@import "page.styl"
@import "logo"
@import "menu"
@import "intro.styl"
@import "bar.styl"
@import "about.styl"
@import "preview"
@import "stats"
@import "timetable.styl"
@import "tickets.styl"
@import "card.styl"