.menu
    float: right
//.menu_list
//    height $menu-height

.menu__item
    float left
    overflow: hidden
    height $menu-height

.menu__link
    display block
    padding 28px 1rem
    uppercase()
    text-decoration none
    color white
    hover-color($menu-hover-color)