.preview
    text-align center
    color black


.preview__img
    border-radius 50%

.preview__title
    margin 28px 0
    font-weight: bold
    font-size 18px
    uppercase()

.preview__text
    font-size 14px
    line-height 22px
    font-style italic
