.speakers__frame
    padding 50px 0

.owl-dots
    display none !important

.owl-controls
    absolute left right top bottom
    margin auto
    height 49px

.owl-theme .owl-nav
    position relative
    height 49px
    margin 0

.owl-prev
    absolute left
    size(30px, 49px)
    padding 0 !important
    margin 0 !important
    background url(../img/slider-arrows.png) 0 0 no-repeat !important

.owl-next
    absolute right
    size(30px, 49px)
    padding 0 !important
    margin 0 !important
    background url(../img/slider-arrows.png) -30px 0 no-repeat !important