.stats
    color $special-color
    text-align center
    font-weight bold

.stats__amount
    margin-bottom 10px
    font-size 100px

.stats__icon
    display inline-block
    line-height 64px
    margin-right 5px
    vertical-align middle


.stats__text
    uppercase()
    font-size 20px
    white-space nowrap
    vertical-align middle