$base-color = #691ad3
$special-color = #eb1757
$bg-color = #40e183
$menu-hover-color = #2ade75

$menu-text-size = 16px
$menu-height = $menu-text-size + 2 * 28px

$icon-sprite = '../img/icon-sprite.png'