.page
    font-family "Open Sans", sans-serif
    font-size 18px

.page__wrap
    position relative
    max-width 1200px
    margin auto

.page__header
    margin-bottom 20px
    background lighten($text-color, 80%)
    box-shadow 0 0 6px $text-color

.page__question
    display flex
    align-items center
    justify-content center
    height 60px
    color $text-color
    font-size 24px
    uppercase()
    font-weight bold
