$base-color = #ffae00
$bg-color = darken(#fff, 5%)
$dark-color = #000
$light-color = #fff
$shadow-color = rgba($dark-color, 10%)
$text-color = lighten($dark-color, 40%)


$online-player-height = 180px
$player-height = 3.2rem
$search-height = 2.5rem

$large-screen = 1600px
$normal-screen = 1200px
$tablet-screen = 1024px
$mobile-screen = 768px