@import url(http://fonts.googleapis.com/css?family=Oswald);
body {font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0;
}
.stripe {
    padding: 0;
    margin: 20px 0;
    width: 100%;
    min-width: 900px;
    height: 37px;
    background-color: #a64dff;
    box-shadow: 0 0 2px rgba(0 0 0 0.6);
}
.container {
    width: 900px;
    padding: 0;
    margin: 0 50%;
    left: -450px;
    position: absolute;
}
ul {
    margin: 0 ;
    padding: 0;
}
li {
    display: block;
    float: left;
}
a {
    color: white;
    text-decoration: none;
    height: 37px;
    padding: 0 10px;
    display: block;
    margin: 5px 0 -5px 0;
}
li:hover {
    background-color: #eeeeee;
}
li:hover a{
    color: #a0a0a0;
}
.submenu {
    display: none;
    position: absolute;
    width:100vw;
    min-width: 900px;
    height: 37px;
    left: -57%;
    padding-left: 57%;
    background-color: #eeeeee;
    text-transform: none;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    box-shadow: 0 2px 2px -2px rgba(0 0 0 0.6);
}
.submenu a {
    margin-top: 10px;
}
li:hover .submenu {
    display: block;
    overflow: hidden;
}