vendor-prefixes ?= official
@import 'nib'

global-reset()

.page
    background url(../img/bg.jpg) no-repeat
    background-position cover

.page__wrap
    max-width 640px
    margin 0 auto
    background-color rgba(white, 20%)

@import "responsive.styl"