@media screen and (max-width: 767px)
    html
        font-size 14px
    .page
        min-width 320px
        min-height 460px

    .logo
        padding 0 2rem
        box-sizing border-box
    .download
        max-width 290px
        padding .5rem .2rem

@media (max-height: 550px)
    .page
        overflow-y scroll