@import "css/promo.css";
@import "css/about.css";
@import "css/partners.css";
@import "css/ideas.css";
@import "css/discover.css";
@import "css/footer.css";
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(fonts/Montserrat-Regular.ttf),
        url(fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(fonts/Roboto-Regular.ttf),
        url(fonts/Roboto-Light.ttf),
        url(fonts/Roboto-Bold.ttf);
}
.page__body {
    margin: 0;
}
