@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic&subset=latin,cyrillic);

html, body {
	background-color: #f0f0f0;
    margin: 0;
	padding:0;
	border: none;
	font-family: 'open sans', sans-serif;
	width: 100%;
}

#wrapper {
    width: 1126px;
	margin: 60px auto 0 auto;
}

header {
	height: 300px;
}
	
#main-player {
	width: 1126px;
	height: 180px;
	overflow: hidden;
}

#main-player-button {
	max-width: 180px;
	float: left;
}

h1 {
	font-size: 36px;
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
	margin: 65px 30px 60px 60px;
	padding: 0 0 5px 0;
}
h1:hover {border-bottom: 5px solid #000000;}
h1 a:hover{text-decoration: none; }

h2 {
	font-size: 16px;
	font-weight: bold;
	vertical-align: top;
	line-height: 23px;
	color: #ffae00;
	margin: 0;
}

#song-name {
	font-size: 36px;
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
	white-space: nowrap;
	margin: 65px 0 65px 0;
}	

a {
	color: inherit;
	font-weight: inherit;
	text-decoration: inherit;
	width: inherit;
	height: inherit;
	vertical-align: inherit;
}
a:hover {text-decoration: underline;}

.main-menu {
	margin: 48px auto 0 auto;
	display: block;
	height: 120px;
	width: 1126px;
}

nav li {
    display: inline;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	list-style-type: none;
    padding: 5px 25px;
}

nav li:hover {border-bottom: 3px solid #000000;}
nav li a:hover {text-decoration: none;}

#feed {
	width: 766px;
	margin: 0 60px 0 0;
	float: left;
}
img { 
	overflow: hidden; 
	width: inherit;
	height: inherit;
	vertical-align: bottom;
}

.prev-post {
	width: 766px;
	height: 240px;
	margin: 0 0 60px 0;
}

.prev-img {
	width: 240px;
	height: 240px;
	float: left;
	margin-right: 60px;
	overflow: hidden;
	position: relative;
}

.prev-img img{
	height: auto;
	width: auto;
}

.post-title {
	height: 60px;
	overflow: hidden;
	position: relative;
	top: -5px;
}

.prev-text {
	font-size: 14px;
	line-height: 26px;
	text-align: justify;
	height: 105px;
	margin: 0 0 15px 0;
	position: relative;
	top: -6px;
}

.podcast-player {
	width: 766px;
	height: 60px
}
.podcat-inactive {
	width: 180px;
	height: 60px;
	float: left;
	margin: 0 30px 0 0;}

.more {
	height: 60px;
	font-size: 16px;
	font-weight: bold;
	margin: 18px 0 0px 0;
	padding: 14px 0 0 0;
}

.read-more {
	width: 210px;
	float: left;
}

.comment-bar {float:left; margin: 1px 8px 0 0;}
.comment-numb {float:left;}
.post-date {text-align: right;}

.more-posts {
	width: 766px;
	height: 60px;
	font-size: 16px;
	font-weight: bold;
	padding: 0 0 0 460px;
	vertical-align: top;
	margin: -14px 0 14px 0;
}

aside {
	width: 300px;
	overflow: hidden;
}

.side-player {
	height: 60px;
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 30px 0;
	overflow: hidden;
}
.side-player-button {
	margin: 0 20px 0 0;
	float: left;
}
.side-player-title {
	white-space: nowrap;
	margin: 18px 0 19px 0;
}
.more-side-players {
	height: 73px;
	width: 300px;
	font-weight: bold;
	padding: 17px 0 0px 80px;
}

footer {
	background: #aaaaaa;
	height: 300px;
	left: 0;
	right: 0;
	clear: both;
}

#footer {
	width: 1126px;
	height: 180px;
	padding: 60px 0;
	margin: 0 auto 0 auto;
	font-size: 14px;
	line-height: 26px;
}

.block-title {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	height: 30px;
	vertical-align: top;
	margin-top: -8px;
}

#last-tracks {
	width: 420px;
	height: 180px;
	float: left;
	margin: 0 60px 0 0;
	overflow: hidden;
	position: relative;
}
#lastfm-full {
	height: 20px;
	padding-top: 0px;
	position: absolute;
	display: inline-block;
	left: 0;
	bottom: 0;
}
/*
.form-search {
	width: 240px;
	height: 30px;
	margin: 22px 0 0 0;
	border: none;
	float: left;
}
.find  {
	margin: 22px 0 0 -30px;
	border: 0;
	width: 30px;
	height: 30px;
	background-color: white;
}*/

#useful {
	width: 240px;
	height: 180px;
	float: left;
	margin: 0 60px 0 0;
	position: relative;
}

#search {
	width: 240px;
	height: 30px;
	overflow: hidden;
	position: absolute;
	left: 0;
	bottom: 0;
}

#who-we-are {
	width: 346px;
	height: 180px;
	overflow: hidden;
	position: relative;
}
#social-pages {
	width: 210px;
	height: 31px;
	float: left;
	overflow: hidden;
	position: absolute;
	left: 0;
	bottom: 0;
}
#social-pages ul {
	list-style: none;
	height: 31px;
	margin: 0;
	padding: 0;
}
#social-pages li {
	display: inline-block;
	width: 100px;
	height: 31px;
	background: url(images/social_pages.png) no-repeat;
}
#counter  {
	width: 88px;
	height: 31px;
	position: absolute;
	right: 0;
	bottom: 0;
	
}
